<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
  <div class="container">
    <ul class="bd-footer-links ps-0 mb-3">
      <li class="d-inline-block"><a href="https://github.com/2fawebsites/2fawebsites.github.io" style="text-decoration: none !important" target="_blank">GitHub</a></li>
      <li class="d-inline-block ms-3"><a href="https://twitter.com/authwidget" style="text-decoration: none !important" target="_blank">Twitter</a></li>
      <li class="d-inline-block ms-3"><a href="https://apple.co/30mIATH" style="text-decoration: none !important" target="_blank">Authenticator App</a></li>
      <li class="d-inline-block ms-3"><a href="/about/" style="text-decoration: none !important">About</a></li>
    </ul>
    <p>List of websites that support <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication" style="text-decoration: none !important" target="_blank">2FA</a>.</p>
    <!-- <p class="mb-0">Designed and built with all the love in the world by the <a href="/docs/5.0/about/team/">Bootstrap team</a> with the help of <a href="https://github.com/twbs/bootstrap/graphs/contributors">our contributors</a>.</p> -->
    <!-- <p class="mb-0">Currently v5.0.0-beta2. Code licensed <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</p> -->
  </div>
</footer>
