<div class="container text-center">

  <div class="row justify-content-center">
    <div class="col-lg-8 m-3 py-3 py-md-5">
      <h1 id="content">Protect Your Online Accounts with Two Factor Authentication (2FA)</h1>
      <p class="lead">Learn about two-factor authentication (2FA), an extra layer of security that includes SMS, email, phone calls, hardware, and software.</p>
    </div>
  </div>

<div class="row justify-content-center">

  <div class="col-md-5 mx-3 mb-5 px-5 pt-5 pb-4 bg-body rounded shadow-sm">
    <img src="/img/resources/folder.svg" class="align-self-center" width="45px" alt="folder">
    <div class="card-body">
      <h5 class="card-title py-2">Install Authenticator</h5>
      <p class="card-text">The best way to manage all your 2FA accounts is to use the Authenticator app. It enables you to have a single mobile app for all your 2FA accounts and you can sync them across multiple devices. Install Authenticator on your device by searching for it in your device’s app store.</p>
      <a href="https://apple.co/30mIATH" target="_blank"><img src="/img/resources/badge-download-on-the-app-store.svg" alt="apple badge download" height="48" class="mt-3"></a>
    </div>
  </div>

  <div class="col-md-5 mx-3 mb-5 px-5 pt-5 pb-4 bg-body rounded shadow-sm">
    <img src="/img/resources/voice.svg" class="align-self-center" width="45px" alt="voice">
    <div class="card-body">
      <h5 class="card-title py-2">Important</h5>
      <p class="card-text">If any sites prompt you to use Google Authenticator for two-factor authentication, note you can always substitute it with the Authenticator app. Although they work in similar ways, Authenticator is more feature-rich and allows for multi-device syncing, iCloud-backups, and have easier account recovery in case you lose your device or just want to switch to a new one.</p>
    </div>
  </div>

</div>

</div>
