<div class="">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Info</th>
        <th scope="col">2FA</th>
      </tr>
    </thead>
    <tbody>
      <tr class="align-middle">
        <th scope="row">1</th>
        <td> 
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img class="me-2" src="https://raw.githubusercontent.com/2factorauth/twofactorauth/e9a7f08d9b1110a72b088b8a4b5527cf91e5755e/img/cryptocurrencies/nairaex.svg" width="32" alt="">
          <span class="fs-6">Larry the BirdL Larry the BirdLarry the BirdL Larry the Bird</span>
          </a>
        </td>
        <td><a href="/">How to enable</a></td>
        <td>totp</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Larry the BirdL Larry the Bird</td>
        <td> <a href="/">How to enable</a></td>
        <td>sms</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Deutsche Apotheker- und Ärztebank </td>
        <td> <a href="/">How to enable</a></td>
        <td><span class="badge bg-primary">proprietary</span></td>
      </tr>
    </tbody>
  </table>
  </div>
